extends recipeLayout 
block content
    div(class="pageContainer")
        div(class="RecipesContainer" id="container")
            ul(class="Recipes" id="Recipes")
                center
                    div(class="sectionContainer")
                        h1 Breakfast
                        li(class="RecipesBackground" style="background-image: url(#{dishImg}); list-style: none; ")
                            div(class="Otext")
                                h3 #{recipeName}
                                button(class="toRecipe") למתכון

                    div(class="sectionContainer")
                        h1 Lunch
                        li(class="RecipesBackground" style="background-image: url(#{dishImg}); list-style: none; ")
                            div(class="Otext")
                                h3 #{recipeName}
                                button(class="toRecipe" onClick="()=>toRecipe(#{recipeName})") למתכון
          
                    div(class="sectionContainer")
                        h1 Dinner
                        li(class="RecipesBackground" style="background-image: url(#{dishImg}); list-style: none; ")
                            div(class="Otext")
                                h3 #{recipeName}
                                button(class="toRecipe") למתכון
                          
                                <a href="../views/frenchToast.html">
                                    <button class="toRecipe">למתכון</button>
                                </a>
                           
              
                     
    